.information-container {
    padding: 50px 25px 70px 25px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 70px;
}

.information-content {
    display: grid;
    grid-template-rows: 200px 1fr;
    gap: 25px;
}

.configuration-content {
    display: grid;
    grid-template-rows: 1fr;
    gap: 25px;
}

.first-image {
    background-image: url("../../../assets/svg/wifi-illustration.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.second-image {
    background-image: url("../../../assets/svg/social-illustration.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image-information {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.text-information h1 {
    direction: ltr;
    font-weight: bold;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #29293e;
    line-height: 30px;
}

.text-information p {
    direction: ltr;
    font-size: 100%;
    line-height: 25px;
    color: #78788c;
}

.configuration-steps h1 {
    font-weight: bold;
    font-size: 22px;
    color: #29293e;
    line-height: 30px;
}

.configuration-list p:nth-child(1) {
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #29293e;
}

.configuration-list p:nth-child(2) {
    font-size: 100%;
    color: #78788c;
    line-height: 25px;
}

.configuration-list {
    margin-top: 15px;
}

.configuration-image img {
    width: 100%;
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .information-content {
        display: grid;
        grid-template-rows: none;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .reverse-direction {
        direction: rtl;
    }

    .configuration-content {
        display: grid;
        grid-template-rows: none;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .information-container {
        padding: 90px 100px 120px 100px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 120px;
    }

    .information-content {
        display: grid;
        grid-template-rows: none;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .first-image {
        background-image: url("../../../assets/svg/wifi-illustration.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .second-image {
        background-image: url("../../../assets/svg/social-illustration.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .image-information {
        width: 100%;
        height: 100%;
    }

    .text-information h1 {
        font-weight: 600;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 25px;
        padding-right: 10px;
        line-height: 41px;
    }

    .text-information p {
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
    }

    .configuration-steps h1 {
        font-weight: bold;
        font-size: 30px;
        color: #29293e;
        margin-bottom: 25px;
        line-height: 41px;
    }

    .configuration-list p:nth-child(1) {
        font-size: 20px;
        line-height: 32px;
    }

    .configuration-list p:nth-child(2) {
        font-size: 20px;
        line-height: 32px;
    }

    .configuration-image {
        align-self: center;
        justify-self: center;
        text-align: center;
    }

    .configuration-image img {
        width: 100%;
    }

}